In [10]:
!pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/d3/a4/f7edcfa47e0a88cda0be8b068a5bae710bf264f867edfdf7b71584ace362/pandas-2.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading pandas-2.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 91.2/91.2 kB 1.9 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy>=1.26.0 in /home/alice/.pyenv/versions/3.12.0/lib/python3.12/site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/alice/.pyenv/versions/3.12.0/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/alice/.pyenv/versions/3.12.0/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/alice/.pyenv/versions/3.12.0/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /home/alice/.pyenv/versions/3.12.0/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 11.3 MB/s eta 0:00:0000:0100:01
Installing collected packages: pandas
Successfully installed pandas-2.3.2

[notice] A new release of pip is available: 23.2.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

### Exercício 1: Receba uma lista de inteiros e retorne uma lista com os seus quadrados

In [2]:
def calcula_quadrado_dos_numeros(lista_numeros):
    lista_transformada = list(map(lambda x: x ** 2, lista_numeros))
    return lista_transformada

numeros = [1, 2, 3, 4, 5]
calcula_quadrado_dos_numeros(numeros)

[1, 4, 9, 16, 25]

### Exercício 2: Receba uma lista de inteiros e filtre os números pares

In [4]:
def filtra_numeros_pares(lista_numeros):
    pares = list(filter(lambda x: x % 2 == 0, lista_numeros))
    return pares
    
numeros = [1, 2, 3, 4, 5]
filtra_numeros_pares(numeros)

[2, 4]

### Exercício 3: Receba uma lista de strings e ordene pelo tamanho

In [5]:
def ordenar_palavras_tamanho(lista_palavras):
    palavras_ordenadas = sorted(lista_palavras, key=lambda x: len(x))
    return palavras_ordenadas

palavras = ["Naquela", "festa", "tocou", "de", "tudo", "e", "também", "jazz"]
ordenar_palavras_tamanho(palavras)

['e', 'de', 'tudo', 'jazz', 'festa', 'tocou', 'também', 'Naquela']

### Exercício 4: Receba uma lista com nome e idade de pessoas e ordene pela idade

In [6]:
def ordena_por_idade(lista_pessoas):
    pessoas_ordenadas = sorted(lista_pessoas, key = lambda pessoa: pessoa[1])
    return pessoas_ordenadas

pessoas = [("Ana", 23), ("João", 35), ("Maria", 19), ("Pedro", 40)]
ordena_por_idade(pessoas)

[('Maria', 19), ('Ana', 23), ('João', 35), ('Pedro', 40)]

### Exercício 5: Receba uma lista com nomes e padronize-os deixando a primeira lista maiúscula e as demais minúsculas

In [7]:
def padronizar_nomes(lista_nomes):
    nomes_padronizados = list(map(lambda nome: nome.capitalize(), lista_nomes))
    return nomes_padronizados

nomes = ["ana", "JOÃO", "mArIa"]
padronizar_nomes(nomes)

['Ana', 'João', 'Maria']

## Exercício 6: Receba uma lista com notas e retorne apenas as notas acima da média (o valor da média é 7)

In [9]:
def filtra_notas_acima_media(lista_notas):
    notas_acima_media = list(filter(lambda x: x >= 7, lista_notas))
    return notas_acima_media

notas = [7.5, 8.0, 6.4, 9.1, 5.0]
filtra_notas_acima_media(notas)

[7.5, 8.0, 9.1]

## Exercício 7: criar nova coluna de bônus no dataframe (o bônus corresponde a )

In [14]:
import pandas as pd
df = pd.DataFrame({
    "nome": ["Ana", "João", "Maria", "Pedro"],
    "salario": [2500, 4000, 3200, 5000]
})

df["bonus"] = df["salario"].apply(lambda salario: salario * 0.10)
df

    nome  salario  bonus
0    Ana     2500  250.0
1   João     4000  400.0
2  Maria     3200  320.0
3  Pedro     5000  500.0

## Exercício 10: Criar no df anterior a coluna categoria, informando a categoria do salário, que segue as regras:
- "Baixo" se < 3000
- "Médio" se 3000 ≤ salario < 4500
- "Alto" se ≥ 4500

In [16]:
df["categoria_salario"] = df["salario"].apply(lambda salario: "Baixo" if salario < 3000 else ("Médio" if salario < 4500 else "Alto"))
df

    nome  salario  bonus categoria_salario
0    Ana     2500  250.0             Baixo
1   João     4000  400.0             Médio
2  Maria     3200  320.0             Médio
3  Pedro     5000  500.0              Alto

## Exercício 11: Filtrar pessoas cujo nome inicie com a letra "M"

In [19]:
df = pd.DataFrame({
    "nome": ["Ana", "João", "Maria", "Pedro", "Marcelo", "Marta", "Lucas"],
    "idade": [23, 35, 19, 40, 28, 32, 30],
    "salario": [2500, 4000, 3200, 5000, 2700, 3300, 2900]
})

df[df["nome"].apply(lambda nome: nome.startswith("M"))]

      nome  idade  salario
2    Maria     19     3200
4  Marcelo     28     2700
5    Marta     32     3300

## Exercício 12: Crie uma coluna "nota_final", que seja 0.4 * prova1 + 0.6 * prova2

In [24]:
import pandas as pd

df = pd.DataFrame({
    "aluno": ["Ana", "João", "Maria", "Pedro"],
    "prova1": [8, 7, 9, 6],
    "prova2": [7, 8, 10, 5]
})


df["nota_final"] = df.apply(lambda row: (0.4 * row["prova1"]) + (0.6 * row["prova2"]), axis=1)
df

   aluno  prova1  prova2  nota_final
0    Ana       8       7         7.4
1   João       7       8         7.6
2  Maria       9      10         9.6
3  Pedro       6       5         5.4